
body{
    background-color: black;
    margin: auto;
    background: #0e0e0e;
    height: 100%;
    display: block;
}

.post{
    background-color:white;
    height: 600px;
    width:400px;
    margin: auto;
    margin-top: 50px;
}

.head {
    display:flex;
    justify-content: space-between;
    margin:0;
    width: 100%;
    align-content: center;
    height: 15%;
    /*This should be the max-widh of your website*/ 
}

    .icono{
    float: left;
    width: 15%;
    margin-left: 20px;
    }

    .texto{
        width:75%;
        display:inline-block;
        margin:0%;
    }
    .puntos{
    float:right;
    width:10%;
   }


.zonaimagen{
    margin:auto;
    width: 100%;   
    display: flex;
    align-content: center;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
}
img{
    width: 100%;
    height: 300px;
    margin:auto;
    display:inline; 
}
}
.partedeabajo {
    width: 100%;
    height: 40%;
    margin: top 100px;
}

.parteiconos{
    margin-top: 15px;
    font-size: large;
}

.fontizquierda{
    width: 40%;
    float: left;
    display:flex;
    justify-content:space-around;
}

.fontderecha{
    float: right;
    display:flex;
}

#escritura * {
    margin margin-top: 100px; important:  !important;
}